---
const { linkedin, github, correo, rutaContacto } = Astro.props;
---

<section>
  <h2
    class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200"
  >
    Contact me!
  </h2>
  <p
    class="text-sm mb-10 leading-6 text-gray-600 dark:text-neutral-400 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg"
  >
    If you want to stay updated on my work, make sure to <a
      href={linkedin}
      target="_blank"
      class="text-indigo-600 underline">follow me on LinkedIn</a
    >, or you can visit my <a
      href={github}
      target="_blank"
      class="text-indigo-600 underline">GitHub</a
    > to see my projects. Feel free to contact me at my email <a
      href={correo}
      class="text-indigo-600 underline">contacto@jairovera.dev</a
    >, or you can also visit the <a
      href={rutaContacto}
      class="text-indigo-600 underline">contact page</a
    >. I will be happy to reply.
  </p>
</section>
