---
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import SquareLines from "../components/square-lines.astro";
const { title } = Astro.props;
import "@fontsource/poppins";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <ViewTransitions />

    <!-- Used to add dark mode right away, adding here prevents any flicker -->
    <script is:inline>
      if (typeof Storage !== "undefined") {
        if (
          localStorage.getItem("dark_mode") &&
          localStorage.getItem("dark_mode") == "true"
        ) {
          document.documentElement.classList.add("dark");
        }
      }
    </script>

    <style>
      .prose img {
        border-radius: 20px;
      }
      body {
        font-family: "Poppins", sans-serif;
      }
    </style>
    <link rel="icon" type="image/x-icon" href="../assets/images/favicon.png" />
    <script src="../assets/css/main.css"></script>
    <Fragment set:html={import.meta.env.HEADER_INJECT} />
    <script is:inline src="/scripts/vendor/lenis/lenis.js"></script>
    <script is:inline>
      // Script to handle Lenis library settings for smooth scrolling
      const lenis = new Lenis();

      function raf(time) {
        lenis.raf(time);
        requestAnimationFrame(raf);
      }

      requestAnimationFrame(raf);
    </script>
    <script
      is:inline
      src="https://challenges.cloudflare.com/turnstile/v0/api.js"
      async
      defer></script>
  </head>
  <body class="antialiased bg-white dark:bg-neutral-950">
    <SquareLines />
    <Header />
    <slot />
    <Footer />
    <script src="../assets/js/main.js"></script>

    <Fragment set:html={import.meta.env.FOOTER_INJECT} />
    <style>
      /* CSS rules for the page scrollbar and scrolling experience with lenis library */
      .scrollbar-hide::-webkit-scrollbar {
        display: none;
      }

      .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
      }

      html.lenis,
      html.lenis body {
        height: auto;
      }

      .lenis.lenis-smooth {
        scroll-behavior: auto !important;
      }

      .lenis.lenis-smooth [data-lenis-prevent] {
        overscroll-behavior: contain;
      }

      .lenis.lenis-stopped {
        overflow: hidden;
      }

      .lenis.lenis-scrolling iframe {
        pointer-events: none;
      }
    </style>
    <!-- script para que cuando abandone la pantalal diga : "no te vayas" -->
    <script>
      document.addEventListener("visibilitychange", function () {
        if (document.hidden) {
          document.title = "El servidor te espera 💻...";
        } else {
          document.title = "Jairo Vera - Desarrollador Web";
        }
      });
    </script>
  </body>
</html>
